@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Prueba realizada con MVC</p>

    <h2>CREDENCIALES DE BASE DE DATOS</h2>
    
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Campo</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>SERVER</td>
                <td>unisuper.database.windows.net</td>
                
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>USER</td>
                <td>adminJenner</td>
                
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Password</td>
                <td> 02Clave**.</td>
                
            </tr>
        </tbody>
    </table>
</div>
